p {
    line-height: 100%;
    font-weight: normal;
}

.container-nav {
    max-width: 1400px;
    display: block;
    position: relative;
}

.container {
    max-width: 1000px;
    display: block;
    position: relative;
}

.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;
    padding: 4px 0;
    margin: 0 0 10px 25px;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
}

.ui-state-hover, .ui-state-active {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}

.ui-helper-hidden-accessible { display:none; }

.pre-scrollable {
    background-color: #eff5ef;
}

.btn-comp {
    background-color: #92cbb4;
}

.navbar-comp {
    background-color: #5db18f;
}

.navbar-comp a {
    color: #2f2f2f;
}

.navbar a:hover {
    background-color: transparent;
    color: white;
    text-decoration: underline;
}

.navbar-comp li a:hover {
    background-color: transparent;
    color: white;
    text-decoration: underline;
}

.navbar-nav {
    margin: 0 2px 0 2px;
}

body {
    padding-top: 70px;
}
