{% extends "bootstrap/base.html" %}
{% block html_attribs %} lang="en"{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block head %}
{% block title %} <title>***REMOVED***</title>{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="/static/main.css"/>
<link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.2.min.css" />
{% endblock %}

{% block metas %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
{% endblock %}

{% block body %}
<div class="container">
  <h1>***REMOVED***</h1>
  <h3>Explore</h3>

  {{ div | safe }}

  {% block scripts %}
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="/static/autocomplete.js"></script>
  <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.2.min.js"></script>
  {{ script | safe }}
  {% endblock %}
{% endblock %}
