{% extends "bootstrap/base.html" %}
{% block html_attribs %} lang="en"{% endblock %}
{% block title %} ***REMOVED*** {% endblock %}

{% block head %}
{{super()}}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="/static/main.css"/>
<link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.2.min.css" />
{% endblock %}

{% block metas %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
{% endblock %}

{% block body %}

{% block navbar %}
<nav class="navbar navbar-custom navbar-comp">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
{% endblock %}

<div class="container">
  <h1>***REMOVED***</h1>
  <h3>Search by company name</h3>
  <form role="form" method='POST' action='/'>
    <div class="form-group">
      <input type="text" name="company-name" class="form-control" id="cname-box" placeholder="Enter company name" style="max-width: 300px;" autofocus required>
    </div>
    <div class="container" id="as-container"></div>
    <button type="submit" class="btn btn-comp">Submit</button>
  </form>
  <br>

  <script type="text/javascript">
    function toggle_visibility(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
    }
</script>

  <div id="searchfield">

    {% for error in errors %}
    <h4>{{ error }}</h4>
    {% endfor %}

    {% if match|length > 0 %}
    <h4>Showing results for <b>{{ match['name'] }} [{{ match['sic_cd'] }}]<b></h4>
    <a href="#" onclick="toggle_visibility('match_desc');">Show description</a>
    <div class="pre-scrollable" id="match_desc" style="display:none;">
    {% for line in match['business_desc'] %}
      <p>{{ line }}</p>
    {% endfor %}
    </div>
    <br><br>
    {% endif %}

    {% for result in results %}
    <h4>{{ result['name'] }}</h4>
    {% endfor %}

    {% for key, value in results.iteritems() %}
    <h4>{{ key }}. {{ value['name'] }} [{{ value['sic_cd'] }}] </h4>
    <p><i>{{ value['sim_score'] }} similarity score </i></p>
    <a href="#" onclick="toggle_visibility('{{ key }}');">Show description</a>
    <div class="pre-scrollable" id="{{ key }}" style="display:none;">
    {% for line in value['business_desc'] %}
      <p>{{ line }}</p>
    {% endfor %}
    </div>
    {% endfor %}

  </div>

  {{ div | safe }}

  {% block scripts %}
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="/static/autocomplete.js"></script>
  <script src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.2.min.js"></script>
  {{ script | safe }}
  {% endblock %}
  {% endblock %}
