<!-- Button trigger modal -->
<a href="#" data-toggle="modal" data-target="#myModal">
  How do I interpret this plot?
</a>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title" id="myModalLabel">How do I interpret this scatter plot?</h4>
      </div>
      <div class="modal-body">
	<p>
	Each point in this scatter plot represents one company. The distance between any two points reflects the similarity between the companies those points represent: the closer the distance on the plot, the more closely related the two companies. The horizontal and vertical axes lack specific meaning; only the distance between points carries meaning in this plot.
	</p>
	<p>
	Using deep-learning models, ***REMOVED*** learns to understand a company's core business. It represents this abstract understanding numerically (in a dense vector). These dense vectors are boiled down into two dimensions, one horizontal and one vertical, for easy visual consumption by humans. This process is called <i>dimensionality reduction</i>.
	</p>

	<p>
	You may notice that some of the companies in ***REMOVED***'s &ldquo;Top five most similar&rdquo; list are not necessarily the closest companies on the scatter plot — this is the result of the dimensionality reduction process described above, which necessarily discards some information along the way. On average, the information that is discarded is less relevant than the remaining information; however, some of the discarded information might be more relevant to some companies than to others. In these cases, the nearest neighbors in this plot may not align perfectly with the &ldquo;Top five&rdquo; list.
	</p>

	<p>
	The &ldquo;Top five&rdquo; list incorporates all available learnings from the model, while the scatter plot is a simplified representation of these same learnings. As a result, the top five are expected to be more accurate than the nearest neighbors in the scatter plot.
	</p>
      </div>
      <div class="modal-footer">
	<button type="button" class="btn btn-default btn-comp" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
