{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <h2>Search by company name</h2>
    <form role="form" method='POST' action='/search'>
      <div class="form-group">
	<input type="text" name="company-name" class="form-control" id="cname-box" placeholder="Enter company name" style="max-width: 300px;" autofocus required>
      </div>
      <div class="container" id="as-container"></div>
      <button type="submit" class="btn btn-default btn-comp">Submit</button>
    </form>
    <br>
  </div>

  {% for error in errors %}
  <h4>{{ error }}</h4>
  {% endfor %}

  {% if match|length > 0 %}
  <div class="row">
    <h4>Showing results for <b>{{ match['name'] }} [{{ match['sic_cd'] }}]<b></h4>
    <a href="#" onclick="toggle_visibility('match_desc');">Show description</a>
    <div class="pre-scrollable" id="match_desc" style="display:none;">
      {% for line in match['business_desc'] %}
      <p>{{ line }}</p>
      {% endfor %}
    </div>
    <br><br>

    {% for result in results %}
    <h4>{{ result['name'] }}</h4>
    {% endfor %}

    {% for key, value in results.iteritems() %}
    <h4>{{ key }}. {{ value['name'] }} [{{ value['sic_cd'] }}] </h4>
    <p><i>{{ value['sim_score'] }} similarity score </i></p>
    <a href="#" onclick="toggle_visibility('{{ key }}');">Show description</a>
    <div class="pre-scrollable" id="{{ key }}" style="display:none;">
      {% for line in value['business_desc'] %}
      <p>{{ line }}</p>
      {% endfor %}
    </div>
    {% endfor %}
  </div>

  <!-- Output zoomed scatter plot -->
  <div class="row" style="margin-top: 30px;">
    <div class="col-sm-8">
      {{ div | safe }}
    </div>
    <div class="col-sm-4"></div>
  </div>

  <div class="row">
    <!-- Button trigger modal -->
    <a href="#" data-toggle="modal" data-target="#myModal">
      How do I interpret this?
    </a>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
	<div class="modal-content">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	    <h4 class="modal-title" id="myModalLabel">How do I interpret the scatter plot?</h4>
	  </div>
	  <div class="modal-body">
	    <p>
	    Using deep-learning models, ***REMOVED*** learns to understand a company's core business. It represents this abstract understanding in a dense vector (i.e., a series of numbers). These dense vectors are boiled down into two dimensions, one horizontal and one vertical, for easier consumption by humans. This process is called <i>dimensionality reduction</i>.
	    </p>

	    <p>
	    You may notice that some of the companies ***REMOVED*** things are most comparable the company you entered are not closest that company on the scatter plot; this is the result of the dimensionality reduction process, described above. An unavoidable consequence of dimensionality reduction is that some information is lost along the way. On average the information that is discarded is less relevant than what is kept. However, this discarded information might be more relevant to some companies than to others. In these cases, the nearest neighbors in the scatter plot may not align with the top five most similar companies suggested by ***REMOVED***.
	    </p>

	    <p>
	    The top 5 incorporate all relevant information, while the scatter plot is a simplified representation of the underlying information. As a result, the top 5 are expected to be more accurate than the nearest neighbors in the scatter plot.
	    </p>
	  </div>
	  <div class="modal-footer">
	    <button type="button" class="btn btn-default btn-comp" data-dismiss="modal">Close</button>
	  </div>
	</div>
      </div>
    </div>
  </div>

  {% endif %}
</div>

{{super()}}
{%- endblock %}
